<%- include('layouts/head.ejs')  %>
</head>
<body>
    <h1>Add Product</h1>
    <form>
        <input type="text" name="product" placeholder="enter product name..." >
        <button type="submit">Submit</button>
    </form>
<%- include('layouts/tail.ejs') %> 
