@font-face {
    font-family: 'Akzidenz-grotesk-light';
    src: url('../fonts/Akzidenz-Grotesk BQ Light.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --background:#3a86ff;
    --les-white:#edf6f9;
    --blue:#8338ec;
    --red:#ef233c;
    --pinkish:#ff006e;
    --orangish:#fb5607;
    --yelloish:#ffbe0b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar{
    display: none;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}
.main-container{
    width: 100%;
    height: 100%;
}
/* nav bar styles */
.nav-bar-container{
    background:linear-gradient(45deg, var(--background), #1966e3);
    box-shadow: 0 0 10px -2px black;
    height: 10%;
    width: 100%;
    font-family: 'Akzidenz-grotesk-light';
}
.nav-bar{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto
}
.links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.links div{
    display: flex;
}
.logout-btn{
    margin-left: 2rem;
    outline: none;
    background-color: var(--les-white);
    color: var(--background);
    font-size: 0.9rem;
    border-radius: 4px;
    border: none;
    padding: 0.2rem 0.4rem;
    cursor:pointer;
    font-weight: 600;
    transition: .12s all;
    box-shadow: 0 0 12px -5px rgb(51, 51, 51);
}
.logout-btn:hover{
    color: var(--les-white);
    background-color: var(--red);
}

.links a{
    color: var(--les-white);
    text-decoration: none;
}
.active-link{
    border-bottom: 2px solid var(--les-white) !important;
}
.links div{
    display: flex;
    align-items: center;
}
.links div:first-child a{
    margin-right: 2rem;
}
.links div:last-child a{
    margin-left: 2rem;
}
.links a{
    font-weight: 700;
    position: relative;
    display: block;
    border-bottom: 2px solid transparent;
}
.links a::after{
    content: '';
    width: 0%;
    display: block;
    position: absolute;
    bottom: -10%;
    left: 0;
    height: 1.5px;
    transition: 0.2s all;
    background-color: var(--les-white)
}
.links a:hover::after{
    width: 100%;
}
/* page styles */
.second-container{
    width: 80%;
    height: 90%;
    margin:auto
}
.page-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 2rem 0;
}
.register-page-container, .login-page-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.register-form-container, .login-form-container, .add-car-form-container, .edit-car-form-container{
    box-shadow: 1px 0px 12px -6px rgba(0, 0, 0, 0.499);
    width: 500px;
    padding: 1.5rem;
    border-radius: 8px;
}
.register-form-container h1, .login-form-container h1, .add-car-form-container h1, .edit-car-form-container h1{
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.449);
    padding-bottom: 1rem;
}
.register-form-container .error-message-box, .login-form-container .error-message-box, .add-car-form .error-message-box, .edit-car-form .error-message-box{
    width: 100%;
    text-align: center;
    margin: 0.5rem 0;
}
.register-form, .login-form, .add-car-form, .edit-car-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-form .form-input, .login-form .form-input, .add-car-form .form-input, .edit-car-form .form-input{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.form-input label{
    color: #333;
    font-weight: 700;
    cursor: pointer;
}

.form-input input{
    font-size: 1.05rem;
    padding: 8px 2px 5px 7px;
    margin-top: 0.2rem;
    outline: none;
    border: 2px solid rgba(128, 128, 128, 0.271);
    border-radius: 4px;
}
.register-form .submit-btn, .login-form .submit-btn, .add-car-form .submit-btn, .edit-car-form .submit-btn{
    margin-top: 1rem;
    font-weight: 700;
    font-size: 1.05rem;
    padding: 0.5rem 0.9rem;
    border: none;    
    cursor: pointer;
}

.register-form-container{
    border-left: 60px double var(--yelloish);
}
.login-form-container{
    border-left: 60px double var(--orangish);
}
.add-car-form-container{
    border-left: 60px double var(--pinkish);
}
.edit-car-form-container{
    border-left: 60px double var(--blue);
}

.register-form .form-input input:focus{
    border: 2px solid var(--yelloish);
}

.login-form .form-input input:focus{
    border: 2px solid var(--orangish);
}

.add-car-form .form-input input:focus{
    border: 2px solid var(--pinkish);
}

.edit-car-form .form-input input:focus{
    border: 2px solid var(--blue);
}

.register-form .submit-btn{
    background-color: var(--yelloish);
    color: #333;
    transition: background-color 0.12s;
}
.register-form .submit-btn:hover{
    background-color: #ffc935;
}
.login-form .submit-btn{
    background-color: var(--orangish);
    color: var(--les-white);
    transition: background-color 0.12s;
}
.login-form .submit-btn:hover{
    background-color: #fc651f;
}
.add-car-form .submit-btn{
    background-color: var(--pinkish);
    color: var(--les-white);
    transition: background-color 0.12s;
}
.add-car-form .submit-btn:hover{
    background-color: #fa3a8d;
}

.edit-car-form .submit-btn{
    background-color: var(--blue);
    color: var(--les-white);
    transition: background-color 0.12s;
}
.edit-car-form .submit-btn:hover{
    background-color: #7929e8;
}

.add-car-page-container, .edit-car-page-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.add-car-page-container::-webkit-scrollbar, .edit-car-page-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.add-car-fit-container, .edit-car-fit-container{
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0.5rem 0;
}
.form-car-image{
    width: 80%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 8px;
    height: 100px;
    background-color: #dcc0ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-car-image img{
    width: 50%;
    height: 100%;
    box-shadow: 0 0 8px var(--blue);
    border-radius: 4px;
}
.form-car-image div{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue);
    font-weight: 600;
    flex-direction: column;
}

/* Profile styling */
.user-info-box{
    width: 100%;
    height: 15%;
    display: flex;
    border-bottom:2px dashed rgba(128, 128, 128, 0.5);
    margin-bottom: 0.5rem;
}
.user-info-left, .user-info-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.user-info-left img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: 0.3rem;
    border: 1px solid rgba(62, 62, 62, 0.296);
    box-shadow: 0 0 10px -4px black;
}
.user-info-left div p{
    font-weight: 600;
    color: gray;
}
.user-info-right{
    justify-content: flex-end;
}
.car-card-main-container{
    width: 100%;
    height: 90%;
}
.scroll-container{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.car-card-main-container .car-card-title{
    height: 7%;
    width: 100%;
    text-align: center;
}
.car-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 1rem;
    height: max-content;
    padding: 0.5rem 0;
}
.car-card-container a{
    text-decoration: none;
}
.car-card{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    top: 0;
    border-radius: 15px;
    box-shadow: 0px 0px 5px -1px rgb(0, 0, 0);
    transition: 0.12s;
}
.car-card:hover{
    box-shadow: 1px 1px 5px 1px rgba(90, 90, 90, 0.599);
}
.car-card:hover .car-info{
    background-color: rgba(0, 0, 0, 0.5);
}
.car-info{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1rem;
    display: flex;
    justify-content: end;
    border-radius: 15px;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.12s all;
}
.car-info h3{
    color: var(--les-white);
}
.car-info p{
    color: rgb(217, 216, 216);
}
.car-card img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
}
.null-container{
    width: 100%;
    height: 100%;
    background-color: rgb(210, 210, 210);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}
.null-container h2{
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.3rem;
    color: gray;
}

.car-card:hover .delete-img-form{
    display: block;
}

.delete-img-form{
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
}
.delete-img-form button{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: var(--red);
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.12s;
}
.delete-img-form button:hover{
    background-color: #d72237;
}
.delete-img-form button i{
    color: var(--les-white);
    transform: scale(1.5);
}
/* btn stylings */
.btn{
    padding: 0.5rem 1.2rem;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 8px;
    display: inline-block;
    background-color: #fff;
    transition: all 0.12s;
}
.btn-bluish{
    color: var(--blue);
    border: 2px solid var(--blue);
}
.btn-bluish:hover{
    background-color: var(--blue);
    color: var(--les-white);
}
.btn-yelloish{
    color: var(--yelloish);
    border: 2px solid var(--yelloish);
}
.btn-yelloish:hover{
    background-color: var(--yelloish);
    color: var(--les-white);
}

/* single car page styles */
.single-car-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.car-name-box{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.car-name-box div:first-child{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 1.5rem;
    border-bottom: 2px dashed black;
}
.car-name-box div:first-child h4{
    color: #666;
}
.car-name-box div:last-child{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    margin-left: 2px;
    border-bottom: 2px dashed black;
}
.content-container{
    display: flex;
    width: 100%;
    height: 85%;
    margin-top: 1rem;
}
.content-container .first-half, .content-container .second-half{
    width: 50%;
    height: 100%;
}
.first-half{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-right: 1px solid rgba(150, 150, 150, 0.508);
}
.first-half img{
    width: 97%;
    height: 97%;
    border-radius: 10px;
}
.second-half{
    padding-left: 0.5rem;
}
.second-half div{
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    margin-bottom: 0.7rem;
}
.single-car-info-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 0.5rem;
}
.colored-box{
    background-color: rgb(210, 210, 210);
    border-radius: 4px;
    padding: 1rem 0.5rem;
}
.outlined-box{
    border-radius: 4px;
    padding: 1rem 0.5rem;
    border: 1px solid rgba(187, 187, 187, 0.599);
}

.compare-car-card-title{
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 2px dashed gray;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    align-items: center;
}
.select-car-checkbox{
    position: absolute;
    top: 0%;
    right: 0%;
}
.select-car-checkbox input{
    width: 25px;
    height: 25px;
    cursor: pointer;
}